*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Smythe', cursive;
    margin:0 auto;
    background-color:whitesmoke;
} 

/* HEADER */
header{
    background-image:url(images/IMG_0155.png);
    background-size:cover;
    background-position: center;
    width: 100%;
    max-width: 900px;
    height:250px;
    padding: 1em 2em;
    margin: 0 auto;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.title{
    font-size:2.5rem;
    margin: 0;
}

.subtitle{
    font-size:1.375rem;
}

.title,
.subtitle{
    text-shadow: #393333 5px 5px;
}

/* ITEM SECTION */
#menu-container{
    margin: 1.5em auto;
    background: white;
    max-width: 700px;
    border-radius: 10px;
}

.item-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    width:100%;
    padding: 2em;
    /* border: 3px red solid; */
    border-bottom:1px #d2d2d2 solid;
}

.item-emoji{
    font-size:3rem;
    font-style:normal;
}

.item-info{
    width: 100%;
}

.item-name{
    font-size:1.75rem;
}

.item-description{
    font-size:1rem;
    color:#8b8b8b;
}

.item-price{
    font-size:1.25rem;
}

.add-btn{
    font-size:2rem;
    color:#3C3C3C;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    border:#dedede 1.5px solid;
    border-radius:50%;
    background:#ffffff;
    width:50px;
}


/* ORDER CONTAINER */

#order-container{
    width:100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 1em;
}

.order-title{
    font-size:1.75rem;
    text-align: center;
    /* margin-bottom:40px; */
}

.order-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin:0 45px; */
}

.order-item-name{
    font-size:1.75rem;
}

.order-item-price{
    font-size:1.25rem;
}

.remove-btn{
    font-size:1rem;
    color:#8b8b8b;
    background: none;
    border:none;
    margin-right:auto;
    margin-left:10px;
}

#order-hr{
    border:1px solid #393333;
    width:100%;
}

.total-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin:0 45px; */
}

.total-price{
    font-size:1.75rem;    
}

.order-sum{
    font-size:1.25rem;
}


#order-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1rem;
    font-weight:700;
    color:#ffffff;
    background-color: #16db99;
    width: 100%;
    padding: 1em;
    border:none;
    border-radius:3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
}



/* PAY MODAL */
#pay-form{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

    margin:auto;
    padding: 1em;
    width: 80%;
    max-width: 700px;
    height: fit-content;
    
    display:flex;
    flex-direction:column;
    gap: 1em;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#ffffff;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
    border-radius:3.8px;
}

.return-to-cart{
    margin: 0;
    font-size: .75rem;
    align-self: flex-start;
}

.form-title{
    font-size:1.5rem;
    font-weight:700;
    text-align: center;
    margin-top: 0;
}

input{
    font-size:1.25rem;
    padding:.75em;
}

.pay-btn{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.25rem;
    font-weight:700;
    color:#ffffff;
    background-color:#16DB99;
    border:none;
    border-radius:3.8px;
    padding: 1em;
}

#thanks-message{
    font-size:2rem;
    text-align:center;
    color:#065F46;
    background-color:#ECFDF5;
    border-radius:3px;
    width:100%;
    margin: 0 auto;
    padding:2em 0;
}

.hidden{
    display:none;
}

/* FOOTER */

footer {
    padding: 1em;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    background-color: #16db99;
}

footer a{
    color: #ffffff;
}